<div class="form-container">
  <%= form_with model: quiz do |form| %>

    <% if quiz.errors.any? %>
      <div class="form-errors">
        <h1><%= pluralize(quiz.errors.count, "error") %> prohibited</h1>
        <ul>
          <% quiz.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>  
    <% end %>

    <div class="form-field">
      <%= form.label :title, class: "form-label" %>
      <%= form.text_field :title, placeholder: "Enter quiz title here", class: "form-input" %>
    </div>

     <div class="form-field">
      <%= form.label :author, "Author Name", class: "form-label" %>
      <%= form.text_field :author, class: "form-input", placeholder: "Enter your name" %>
    </div>
    
    <div class="form-field">
      <%= form.label :description, class: "form-label" %>
      <%= form.text_area :description, placeholder: "Enter quiz description here", class: "form-textarea" %>
    </div>
    
    <div class="form-field">
      <%= form.label :category_id, "Category", class: "form-label" %>
      <%= form.select :category_id,
                      options_from_collection_for_select(Category.all.order(:name), :id, :name, quiz.category_id),
                      { prompt: "Select a category" },
                      { class: "form-input" } %>
    </div>

    <%= form.submit class: "btn-secondary" %>
  <% end %>
</div>