<div>
<h1 class="font-bold text-4xl">Create new quiz</h1>

<%= form_with model: @quiz do |f| %>

  <% if @quiz.errors.any? %>
    <div class="errors">
    <h1><%= pluralize(@quiz.errors.count, "error") %> prohibited </h1>
      <ul>
        <% @quiz.errors.full_messages.each do |message| %>
          <li><%= message%></li>
          <% end %>
      </ul>
    </div>  
  <% end %>

  <div class="mb-4">
  <%= f.label :title, class: "block mb-2" %>
  <%= f.text_field :title, placeholder: "Enter quiz title here", class: "w-full p-2 border rounded" %>

  </div>
  
  <div class="mb-4">
  <%= f.label :description, class: "block mb-2" %>
  <%= f.text_area :description, placeholder: "Enter quiz description here", class: "w-full p-2 border rounded" %>

  </div>
  
  <%= f.submit "Create Quiz", class: "bg-blue-500 text-white px-4 py-2 rounded" %>
  <% end %>
  </div>