<%# locals: { user: @user, api_key: @api_key, key_type: @key_type }%>

<%= form_with model: api_key, url: update_api_key_user_path(user, api_type: key_type.name), method: :patch, class: "contents" do |form| %>
  <% if api_key.errors.any? %>
    <div class="py-2 px-3 bg-red-50 mb-5 text-red-500 font-medium rounded-lg inline-block">
      <%= api_key.errors.full_messages.to_sentence %>
    </div>
  <% end %>
 
  <div class="my-5">
    <%= form.label :new_key, "#{key_type.name.humanize} API Key", class: "block text-sm font-medium text-gray-700" %>
    <%= form.text_field :new_key, 
        placeholder: "Enter your API key", 
        class: "block shadow-sm rounded-md border border-gray-400 focus:outline-blue-600 px-3 py-2 mt-2 w-full" %>
    <p class="text-sm text-gray-500 mt-1">Your API key is encrypted and stored securely</p>
  </div>
 
  <%= form.submit "Add API Key", 
      class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white font-medium cursor-pointer" %>
<% end %>