<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl mb-6">Change Password</h1>
  
  <%= form_with model: @user, url: update_password_user_path(@user), method: :patch, class: "contents" do |form| %>
    <% if @user.errors.any? %>
      <div class="py-2 px-3 bg-red-50 mb-5 text-red-500 font-medium rounded-lg inline-block">
        <%= @user.errors.full_messages.to_sentence %>
      </div>
    <% end %>
    
    <div class="my-5">
      <%= form.label :password, "New Password", class: "block text-sm font-medium text-gray-700" %>
      <%= form.password_field :password, required: true, autocomplete: "new-password", class: "block shadow-sm rounded-md border border-gray-400 focus:outline-blue-600 px-3 py-2 mt-2 w-full" %>
    </div>
    
    <div class="my-5">
      <%= form.label :password_confirmation, class: "block text-sm font-medium text-gray-700" %>
      <%= form.password_field :password_confirmation, required: true, autocomplete: "new-password", class: "block shadow-sm rounded-md border border-gray-400 focus:outline-blue-600 px-3 py-2 mt-2 w-full" %>
    </div>
    
    <div class="flex gap-4">
      <%= form.submit "Update Password", class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white font-medium cursor-pointer" %>
      <%= link_to "Cancel", profile_user_path(@user), class: "rounded-md px-3.5 py-2.5 bg-gray-200 hover:bg-gray-300 text-gray-700 font-medium" %>
    </div>
  <% end %>
</div>