<nav class="bg-transparent border-b border-gray-200">
 <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
   <div class="flex h-16 items-center justify-between">
     <!-- Logo goes to home -->
     <div class="text-xl font-bold text-gray-900">
       <%= link_to "QUIZER", root_path, class: "text-gray-900 hover:text-gray-600" %>
     </div>
     
     <div class="flex space-x-4">
       <% if authenticated? %>
         <%= link_to "New quiz", new_quiz_path, class: "btn-primary text-lg px-8 py-3" %>
         <%= link_to "Profile", profile_user_path(current_user), class: "btn-primary text-lg px-8 py-3" %>
         <%= button_to "Sign out", session_path, class: "btn-primary text-lg px-8 py-3", method: :delete %>
       <% else %>
         <%= link_to "Login", new_session_path, class: "btn-primary text-lg px-8 py-3" %>
       <% end %>
     </div>
   </div>
 </div>
</nav>