<%= form_with model: [@quiz, @question, answer], local: true do |form| %>
  <div class="form-field">
    <%= form.text_area :answer_text, class: "form-textarea", rows: 2 %>
  </div>
  
  <div class="flex items-center space-x-2">
    <%= form.check_box :is_correct, class: "form-checkbox" %>
    <%= form.label :is_correct, "Correct answer", class: "form-label-inline" %>
  </div>
  
  <%= form.submit "Update Answer", class: "btn-secondary" %>
<% end %>